html, body {
    background-color: rgb(140, 192, 140);
}

.container {
background-color:blue;
    font-weight: bolder;
    font-family: 'Spartan', sans-serif;
    text-align:center ;
    padding: 200px;
    margin-top: 250px;
    margin-left: 200px;
    margin-right: 200px;
    align-self: center;

}

.box {
    align-self: center;
}