body {
    background-color: rgb(23, 47, 68);
    color: whitesmoke;
}

#pageheader > h1 {

    color: red;
    text-align: center;
}

#scoreboard {
    border: solid;
    height: 220px;
    border-radius: 100px;
    text-align: center;
    margin: 0px;
}

#numberOfCookies {
    background-color:transparent;
    opacity: 0.5;
    border: solid;
    border-radius: 50px;
    font-weight: bolder;
    font-size: xx-large;
    margin: 5px;
    padding: 10px;
}

#numberOfCookiesPerSecond {
    background-color:rgb(34, 139, 107);
    border: solid;
    border-radius: 16px;
    font-size: x-large;
    margin: 5px;
    padding: 10px;
}

#cookie {
    width: 49%;
    height: 500px;
    float: left;
    text-align: center;

}

#cookieImg{
    cursor: pointer;
    border-radius: 50%;
    animation: rotation 15s infinite linear;
}


#cookie > img:active{
    transform: rotate(1800deg);

}


#upgrades {
    width: 49%;
    height: auto;
    float: right;
    text-align: center;
    border: solid;
    border-bottom: none;
    border-top: none;
}

#upgrades > img {

    width: 120px;
    height: 120px;
    border-radius: 50%;


}

#pointerValue {
    color: red;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
}

#upgradesPurchased {
    border: solid;
    border-radius: 100px;
    margin-top: 10px;


}

figure {
    width: 100px;
    float: left;
    margin: 5px;
    text-align: center;
}

figure > img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotation 5s infinite linear;

}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }